.sale_item {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: 316px;
  border: 1px solid #ddd;
  border-radius: 12px;

  overflow: hidden;
}

.discount_sum {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 4px 8px;

  border-radius: 6px;

  background-color: #0d50ff;

  font-size: 20px;
  font-weight: 500;
  color: white;
}

.sale_item_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.sale_item_image img {
  height: 284px;
}

.sale_item_description,
.previous_price {
  font-size: 20px;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 0 32px 32px;
}

.price_container {
  display: flex;
  align-items: end;
  gap: 16px;
}

.actual_price {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

.previous_price {
  color: #8b8b8b;
  text-decoration: line-through;
}

.sale_item {
  position: relative;
  overflow: hidden;
}

.sale_item:hover .add_to_cart_button {
  display: block; /* Показываем кнопку при наведении на карточку */
}

.add_to_cart_button > span {
  color: white;
}

.add_to_cart_button {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);

  min-width: 258px;
  min-height: 58px;

  background-color: #0d50ff;

  font-size: 20px;
  font-weight: 600;
}
