.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  width: 100%;
  min-height: 128px;

  background-color: white;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.nav_item a {
  font-size: 20px;
  font-weight: 500;
}
