.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  width: 100%;
  min-height: 128px;

  background-color: white;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.nav_item a {
  font-size: 20px;
  font-weight: 500;
}

.main_basket_link {
  position: relative;
}

.items_count {
  position: absolute;
  top: 8px;
  left: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 26px;
  height: 26px;
  border-radius: 50%;

  background-color: #0d50ff;

  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: white;
}
