.main_banner {
  position: relative;
  padding: 80px 40px;

  min-height: 600px;

  background-image: url("../../assets/images/main_banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.main_slogan {
  position: relative;

  margin-bottom: 40px;

  font-size: 96px;
  font-weight: 700;
  line-height: 110%;

  color: white;
}

.main_cta_btn {
  position: relative;
  padding: 16px 56px;

  border-radius: 6px;

  font-size: 20px;
  font-weight: 600;
  color: white;

  background-color: #0d50ff;
}

/* Categories section */

.main_categories,
.sales_section {
  margin-top: 80px;
}
.main_categories_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.main_categories_header a {
  position: relative;

  padding: 8px 16px;

  border: 1px solid #dddddd;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 500;
  color: #8b8b88;
}

.main_categories_header a::before {
  content: "";
  position: absolute;

  top: 50%;
  right: 142px;

  width: 832px;
  height: 1px;

  background-color: #dddddd;
}

.categories_list {
  display: flex;
  justify-content: space-between;
}

/* Discount section */

.discount_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 80px;
  padding: 32px;
  /* min-height: 486px; */
  border-radius: 12px;

  background-image: linear-gradient(45deg, #0d50ff, #2451c6);
}

.custom_section_heading {
  color: white;
  text-align: center;
}

.form_wrapper {
  display: flex;
  align-items: center;
}

.form_wrapper picture {
  position: relative;
  bottom: 0;
}

.discount_form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 516px;
}

.discount_form input {
  padding: 16px 32px;

  width: 100%;
  border: 1px solid white;
  border-radius: 6px;

  font-size: 20px;
  font-weight: 500px;
  color: white;

  background-color: transparent;
}

.discount_form input:last-child {
  border: none;
  border-radius: 6px;

  background-color: white;

  font-size: 20px;
  font-weight: 600;
  color: #282828;

  cursor: pointer;
}

.discount_form input::placeholder {
  font-size: 20px;
  font-weight: 500px;
  color: white;
}

.error {
  color: orange;
}

/* Sales Section */

.sales_section .main_categories_header a::before {
  content: "";
  position: absolute;

  top: 50%;
  right: 98px;

  width: 1000px;
  height: 1px;

  background-color: #dddddd;
}
